<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <!--<connectionStrings>
    <add name="connStr1" connectionString="Database=sw;Data Source=localhost;User Id=root;Password=root;pooling=false;CharSet=utf8;port=3306"/>
  </connectionStrings>-->
  <connectionStrings>
    <add name = "connStr" connectionString="server=.;database=SW;uid=001;pwd=1;"/>
  </connectionStrings>
</configuration>
